*{margin:0; padding:0; box-sizing: border-box;}
a{text-decoration:none}
ol, ul{list-style: none;}
body{
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width: 100%;
    padding:50px;
    background-attachment: fixed;
}
.container{
    
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    margin-bottom:50px;
}
header::after{
    content:"";
    width:100%;
    height:2px;
    background-color: rgba(0, 0, 0, 0.1);
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-20px;
}
h1{
    font-size:28px;
    margin-bottom:0;
    font-weight:bold;
    display:inline-block;
    margin-left:50px;
}
header i{
    color:#3A4142;
}
header p{
    display:inline-block;
    margin-bottom:0;
    color:rgba(0, 0, 0, 0.5)
}
#time{
    font-size : 18px;
    font-weight:bold;
    display:block;
    text-align:center;
    color:#3A4142;
}
.container{
    max-width:720px;
    width:100%;
    height:100%;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 50px;;
    padding:2em;
}

.inner{
    background-color:#b3c8d8;
    height:100%;
    border-radius: 55px;
    padding:2em;
    position:relative;
}
.task-area{
    /* border:1px solid lightgray; */
    background:rgb(250, 250, 250);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.task-tabs{
    display:flex;
    /* border-bottom:1px solid lightgray; */
    position:relative;
    justify-content: space-around;
    padding:20px;
}
.task-tabs div{
    position:relative;
}
.task-tabs i{
    font-size:24px;
}
.task-tabs i.fa-reply-all{
    font-size:20px;
}
.allBox{
    
}
.task-tabs span{
    width:50px;
    height:50px;
    background-color:#FFEB00;
    border-radius: 100px;
    line-height: 50px;
    text-align: center;
    padding:15px;
    cursor: pointer;
}
.task-tabs div:nth-child(2) span{
    background-color:skyblue;
}
.task-tabs div:nth-child(3) span{
    background-color:orange;
}
.task-tabs p{
    margin-top:5px;
    font-size:13px;
    font-weight:bold;
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* .task-tabs div.active::after{
    content:"";
    width:100%;
    height:3px;
    background-color:lightcoral;
    position:absolute;
    bottom:0;
    left:0;
} */
.bottom{
    width:100%;
    position:absolute;
    bottom:0;
    left: 0;
}
#under-line{
    height:4px;
    background-color:pink;
    position:absolute;
    width:64px;
    left:0;
    top:52px;
    padding:0;
    transition: left 0.3s ease, width 0.3s ease;
}


.task{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.task button{
    border:none;
    background:none;
    margin:0 15px;
}
.task button img{
    width:30px;
    height:30px;
}
.task > div:first-child{
    /* width:80%; */
    /* padding:5px 7px; */

}
.task .text{
    background-color:#FFEB00;
    border-radius: 10px;
    text-align: center;
    padding:5px 7px;
}
.task > div:last-child{
    /* width:20%; */
    text-align:end;
    display:flex;
}
.task-done{
    display:block;
    text-decoration:line-through;
    background-color:orange;
    border-radius: 10px;
    text-align: center;
    
    padding:5px 7px;
}
.input-area{
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.input-area i{
    font-size:26px;
    color:rgba(0, 0, 0, 0.3);
    margin-left:10px;
}
.input-area input{
    width:80%;
    border:none;
    outline: none;
    text-indent: 15px;;
    /* padding:10px 0; */
}
#add-button{
    background:#FFEB00;
    border:none;
}
.fa-regular{
    margin-right:10px;
}
.fa-xmark {
    color:red;
    font-size:22px;
}
.fa-check{
    font-size:21px;
    color:#392926;
}
.fa-reply{
    font-size:19px;
    color:#FFEB00;
}
#input-delete{
    cursor: pointer;
}
.input-area #add-button i{
    margin-left: 0;
    padding: 9px 10px;
    color:#392926;
}
.task{
    margin-bottom:10px;
}

@media all and (max-width:630px){
    h1{
        font-size:20px;
    }
    #time{
        font-size:15px;
    }
    .task div i{
        font-size:15px;
    }
    .task div{
        font-size:14px;
    }
    .task-tabs div{
        text-align:center;
    }
    .task-tabs span{
        width:30px;
        padding:5px 7px;
        /* line-height: 30px; */
    }
    .task-tabs span i,
    .task-tabs i.fa-reply-all{
        font-size:15px;
    }
}

@media all and (max-width:499px){
    h1{
        font-size:14px;
    }
    #time{
        font-size:12px;
    }
    header{
        margin-bottom:35px;
    }
    header::after{
        height:1px;
    }
    .task button{
        margin:0 5px;
    }
    .container{
        padding:1em;
        border-radius: 30px;
    }
    .inner{
        padding:1em;
        border-radius: 30px;
    }
    .task-area{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}